#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
.bold-font {
  font-family: "Montserrat", sans-serif;
}
.lin-grad {
  background: linear-gradient(to right, #f69d50, #ffdeb3);
}
/* td {
  display: flex;
  justify-content: center;
} */
